@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@font-face {
	font-family: "P22Mackinac";
	src: url("/fonts/P22-Mackinac/P22MackinacPro-Medium_26.otf")
		format("opentype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "P22Mackinac-B";
	src: url("/fonts/P22-Mackinac/P22MackinacPro-Medium_26.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

.mackinac {
	font-family: "P22Mackinac", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

.lobster {
	font-family: "Lobster Two", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.inter {
	font-family: "Inter", sans-serif;
	font-display: swap;
}
.inter-regular {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-display: swap;
}
